
@{
    ViewBag.Title = "StudentMainPage";
}

<h1>WELCOME STUDENT!!!!!</h1>

<div style="background-color:aqua">
    <button type="submit" value="update_studentlists" s>UPDATE STUDENT LISTS</button>
    <br />
    <br />
    <button type="submit" value="display_studentlists">DISPLAY STUDENTS LISTS</button>
    <br />
    <br />
    <button type="submit" value="display_enrollmentslists">DISPLAY ENROLLMENTS LISTS</button>
    <br />
    <br />
    <button type="submit" value="display_courselists">DISPLAY COURSE LISTS</button>
    <br />
    <br />  







</div>
<br />
@Html.ActionLink("LOGOUT", "Index", "Login", null, new { @class = "btn btn-primary" })


