
@{
    ViewBag.Title = "FacultyMainPage";
}

<h2>WELCOME !!! GREETINGS </h2>

<div style="background-color:aqua">
    <button type="submit" value="add_student" >ADD STUDENT</button>
    <br />
    <button type="submit" value="display_studentlists">DISPLAY STUDENTS LISTS</button>
    <br />
    <button type="submit" value="add_course">ADD COURSE</button>
    <br />
    <button type="submit" value="update_course">UPDATE COURSE</button>
    <br />

    <button type="submit" value="update_collegedetails">UPDATE COLLEGE DETAILS</button>
    <br />
    <button type="submit" value="display_enrollmentslists">DISPLAY ENROLLMENT LISTS</button>
    <br />
    <button type="submit" value="display_collegelists">DISPLAY COLLEGE LISTS</button>
    <br />
    <button type="submit" value="add_collegedetails">ADD COLLEGE DETAILS</button>
    <br />
    <button type="submit" value="add_enrollments">ADD ENROLLMENTS</button>
    <br />
    <button type="submit" value="update_enrollments">UPDATE ENROLLMENTS</button>









</div>
<br />
@Html.ActionLink("LOGOUT", "Index", "Login", null, new { @class = "btn btn-primary" })

